<!DOCTYPE html>
<html lang="en" data-ng-app="ngstudy">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <label for="nome">
        nome:
        <input type="text" name="nome" data-ng-model="nome">

    </label>
    <p>escreve o nome aqui: <b>{{nome}}</b>, tbm posso mostrar com ng-bind: <b data-ng-bind="nome"></b></p>
    <label for="nome">
        titulo:
        <input type="text" name="title" data-ng-model="title">

    </label>
    <script src="angular.min.js"></script>
    <script>
        angular.module('ngstudy', [])
    </script>
</body>
</html>